.holidays_cards_color {
  background: linear-gradient(101deg, #050404 20%, #3e3d3d 110%);
}

.events_cards_color {
  background: linear-gradient(265deg, #050404 20%, #3e3d3d 110%);
}

.employee_list_back_color {
  background: linear-gradient(265deg, #262626 20%, #191919 110%);
}

/* Section Title Background Color */
.section_title_back_color {
  background-color: "#212121";
}

