.first_card_back_gradient {
  /* background: linear-gradient(100.13deg, #181818 10%, #4d4d4d 110%); */
  background: #212121;
}

.first_card_gradient {
  background: linear-gradient(10.13deg, #151515 10%, #868686 110%);
}

.second_card_back_gradient {
  /* background: linear-gradient(200deg, #000000 10%, #666666 110%); */
  background: #212121;
}
