.left_side_navbar_color {
  color: #EDF6FF;
  background-color: #282828;
}

.top_navbar_color {
  color: #EDF6FF;
  /* background-color: #090909; */
}

.logo_dropdown_color {
  background: linear-gradient(265deg, #050404 20%, #3e3d3d 110%);
}