@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

#root {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 1536px;
  /* background-color: #101010; */
}

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  --appBack: linear-gradient(180deg, #141414 100%, #000000 100%);
  /* --leftSection: #141414;
  --centerSection: #393939;
  --rightSection: #242323; */
  overflow-y: auto;
}

.app {
  display: flex;
  position: relative;
  background: var(--appBack);
}

@media print {
  .MuiDataGrid-toolbarContainer,
  .MuiDataGrid-footerContainer {
    display: none !important;
  }
}
